@{
    Layout = null;
}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>jQuery Pagination</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/CSS/PaginationWithSearch.css" rel="stylesheet" />
    <style>
        .HdnPgItm {
            display: none;
        }

        .PgnActive {
            border: 1px solid red;
        }

        .PgnBtnDsbld {
            border: 1px solid blue;
        }
        .Unselect {
           -moz-user-select: none;
           -webkit-user-select: none;
           -ms-user-select:none;
           user-select:none;
           -o-user-select:none
        }
    </style>
</head>
<body>
    <input type="text" placeholder="search" id="SearchBox"/>
    <div id="contents">
        <div data-Value="1">This Is Number 1</div>
        <div data-Value="1">This Is Number 2</div>
        <div data-Value="1">This Is Number 3</div>
        <div>This Is Number 4</div>
        <div>This Is Number 5</div>
        <div>This Is Number 6</div>
        <div>This Is Number 7</div>
        <div>This Is Number 8</div>
        <div>This Is Number 9</div>
        <div>This Is Number 10</div>
        <div>This Is Number 11</div>
        <div>This Is Number 12</div>
        <div>This Is Number 13</div>
        <div>This Is Number 14</div>
        <div>This Is Number 15</div>
        <div>This Is Number 16</div>
        <div>This Is Number 17</div>
        <div>This Is Number 18</div>
        <div>This Is Number 19</div>
        <div>This Is Number 20</div>
        <div>This Is Number 21</div>
        <div>This Is Number 22</div>
        <div>This Is Number 23</div>
        <div>This Is Number 24</div>
        <div>This Is Number 25</div>
        <div>This Is Number 26</div>
        <div>This Is Number 27</div>
        <div>This Is Number 28</div>
        <div>This Is Number 29</div>
        <div>This Is Number 30</div>
    </div>

    <script>
        PaginationWithSearch({    
            ContentID:"contents",
            UserNumberOfItemVisiblePerPage: 4,
            NumberOfItemInPaginationNav :4
        });

        function PaginationWithSearch(PaginationObject) {                    
            var searchId = PaginationObject.SearchBoxId;
            if (searchId != undefined && searchId != null && searchId != "") {
                var SearchText = $("#" + PaginationObject.SearchBoxId).val().toLowerCase().trim();               
            }
            else {
                $("#" + PaginationObject.ContentID).children().each(function (rev, element) {
                    $(element).addClass("ItmActive");
                })
                Pagination({
                    ContentID: PaginationObject.ContentID,
                    UserNumberOfItemVisiblePerPage: PaginationObject.UserNumberOfItemVisiblePerPage,
                    NumberOfItemInPaginationNav: PaginationObject.NumberOfItemInPaginationNav
                });
            }            
        }
        function Pagination(PaginationObject) {
            
            $("<div id=" + PaginationObject.ContentID + "PaginationNavBar" + " class=\"Unselect\" unselectable=\"on\" onselectstart=\"return false;\" onmousedown=\"return false;\"><div>").insertAfter("#" + PaginationObject.ContentID);
            //Data Passed By User
            var UserNumberOfItemVisiblePerPage = PaginationObject.UserNumberOfItemVisiblePerPage;
            var UserNumberOfItemsInVisibleInPaginationNav = PaginationObject.NumberOfItemInPaginationNav;
                                
            var ActualNumberOfItemsShownInNavBar = 0;
            var ActualNumberOfItemsShown = 0;
            var NumberOfItemsInPaninationNavNeeded = 0;

            var NumberOfItems = $("#" + PaginationObject.ContentID).children(".ItmActive").length;

            //Calculating NavBar and Items for Pagination
            if (UserNumberOfItemVisiblePerPage < NumberOfItems)
            {
                ActualNumberOfItemsShown = UserNumberOfItemVisiblePerPage;
                NumberOfItemsInPaninationNavNeeded = Math.ceil(NumberOfItems / UserNumberOfItemVisiblePerPage);
            }
            else
            {
                ActualNumberOfItemsShown = NumberOfItems;
                NumberOfItemsInPaninationNavNeeded = 1;
            }
            if (UserNumberOfItemsInVisibleInPaginationNav > NumberOfItemsInPaninationNavNeeded) {
                ActualNumberOfItemsShownInNavBar = NumberOfItemsInPaninationNavNeeded;
            }
            else
            {
                ActualNumberOfItemsShownInNavBar = UserNumberOfItemsInVisibleInPaginationNav;
            }
            $("#" + PaginationObject.ContentID).children(".ItmActive").each(function (rev, element) {
                if ((rev + 1) > ActualNumberOfItemsShown) {
                    $(element).addClass("HdnPgItm");
                }
                $(element).attr("data-Index", rev + 1)
            });
            $("#" + PaginationObject.ContentID + "PaginationNavBar").empty();
            $("#" + PaginationObject.ContentID + "PaginationNavBar").append("<span class=\"DfltPgnBtn PgnBtnDsbld\" onclick=\"PgnPreBtn(event," + NumberOfItems + "," + ActualNumberOfItemsShown + "," + NumberOfItemsInPaninationNavNeeded  + "," + ActualNumberOfItemsShownInNavBar+")\">" + "Previous" + "</span>");
            $("#" + PaginationObject.ContentID + "PaginationNavBar").append("<span data-Index=" + 1 + " onclick=\"ChangePage(event," + NumberOfItems + "," + ActualNumberOfItemsShown + "," + NumberOfItemsInPaninationNavNeeded + "," + ActualNumberOfItemsShownInNavBar +")\" class=\"PgnActive\">" + 1 + "</span>");
            var CountVisible = 1;
            for (var i = 2; i <= NumberOfItemsInPaninationNavNeeded; i++) {
                if (i > ActualNumberOfItemsShownInNavBar) {
                    $("#" + PaginationObject.ContentID + "PaginationNavBar").append("<span data-Index=" + i + " onclick=\"ChangePage(event," + NumberOfItems + "," + ActualNumberOfItemsShown + "," + NumberOfItemsInPaninationNavNeeded + "," + ActualNumberOfItemsShownInNavBar +")\" class=\"HdnPgItm\">" + i + "</span>");
                }
                else {
                    CountVisible++;
                    $("#" + PaginationObject.ContentID + "PaginationNavBar").append("<span data-Index=" + i + " onclick=\"ChangePage(event," + NumberOfItems + "," + ActualNumberOfItemsShown + "," + NumberOfItemsInPaninationNavNeeded + "," + ActualNumberOfItemsShownInNavBar +")\">" + i + "</span>");
                }
               
            }
            
            if (NumberOfItemsInPaninationNavNeeded == 1) {
                $("#" + PaginationObject.ContentID + "PaginationNavBar").append("<span class=\"DfltPgnBtn PgnBtnDsbld\" onclick=\"PgnNxtBtn(event," + NumberOfItems + "," + ActualNumberOfItemsShown + "," + NumberOfItemsInPaninationNavNeeded + "," + ActualNumberOfItemsShownInNavBar +")\">" + "Next" + "</span>");
            }
            else {
                $("#" + PaginationObject.ContentID + "PaginationNavBar").append("<span class=\"DfltPgnBtn\" onclick=\"PgnNxtBtn(event," + NumberOfItems + "," + ActualNumberOfItemsShown + "," + NumberOfItemsInPaninationNavNeeded + "," + ActualNumberOfItemsShownInNavBar +")\">" + "Next" + "</span>");
            }           
        }
        function ChangePage(event, TotalItem, TotalVisibleItem, TotalItemInNav, TotalVisibleItemInNav) {
            
            var Element = event.target;
            $(Element).siblings().removeClass("PgnActive");
            $(Element).addClass("PgnActive");
            var SelectedPage = $(Element).attr("data-Index");
            SetPageReadyFor(Element, SelectedPage, TotalVisibleItem, TotalItemInNav);
        }
        function SetPageReadyFor(Element, SelectedPage, TotalVisible,Total) {
            var From = (TotalVisible * (SelectedPage - 1)) + 1;
            var To = From + (TotalVisible - 1);
            $(Element).parent().prev().children().addClass("HdnPgItm");
            $(Element).parent().prev().children().each(function (index, element) {
                if ((index + 1) <= To && (index + 1) >= From) {
                    $(this).removeClass("HdnPgItm");
                }
            });
            if (SelectedPage == 1) {
                $(Element).prev(".DfltPgnBtn").addClass("PgnBtnDsbld");
            }
            else {
                $(Element).siblings().prev(".DfltPgnBtn").removeClass("PgnBtnDsbld");
            }
            if (Total == SelectedPage) {
                $(Element).next(".DfltPgnBtn").addClass("PgnBtnDsbld");
            }
            else {
                $(Element).siblings().next(".DfltPgnBtn").removeClass("PgnBtnDsbld");
            }
        }
        function PgnNxtBtn(event, TotalItem, TotalVisibleItem, TotalItemInNav, TotalVisibleItemInNav) {
            debugger
            var Element = event.target;
            if (!$(Element).hasClass("PgnBtnDsbld")) {
                var Active = parseInt($(Element).siblings(".PgnActive").attr("data-Index"));
                $(Element).siblings().prev(".DfltPgnBtn").removeClass("PgnBtnDsbld");
                var Totalitm = $(Element).parent().children('span:not(.DfltPgnBtn)').length;
                $(Element).siblings().removeClass("PgnActive");
                $(Element).siblings('[data-Index=' + (Active + 1) + ']').addClass("PgnActive");
                SetPageReadyFor(Element, Active + 1, TotalVisibleItem, TotalItemInNav);
                if ($(Element).siblings('[data-Index=' + (Active + 1) + ']').hasClass("HdnPgItm")) {
                    SetNxtPgnNavBar(Element, Active + 1, TotalVisibleItemInNav);
                }
                if ((Totalitm - 1) == Active) {
                    $(Element).siblings().next(".DfltPgnBtn").addClass("PgnBtnDsbld");
                }
                else {
                    $(Element).siblings().next(".DfltPgnBtn").removeClass("PgnBtnDsbld");
                }
            }
        }
        function PgnPreBtn(event, TotalItem, TotalVisibleItem, TotalItemInNav, TotalVisibleItemInNav) {
            debugger
            var Element = event.target;
            if (!$(Element).hasClass("PgnBtnDsbld")) {
                var Active = parseInt($(Element).siblings(".PgnActive").attr("data-Index"));
                $(Element).siblings().next(".DfltPgnBtn").removeClass("PgnBtnDsbld");
                $(Element).siblings().removeClass("PgnActive");
                $(Element).siblings('[data-Index=' + (Active - 1) + ']').addClass("PgnActive");
                SetPageReadyFor(Element, Active - 1, TotalVisibleItem, TotalItemInNav);
                if ($(Element).siblings('[data-Index=' + (Active - 1) + ']').hasClass("HdnPgItm")) {
                    SetPrePgnNavBar(Element, Active -1, TotalVisibleItemInNav);
                }
                if ((Active - 1) == 1) {
                    $(Element).siblings().prev(".DfltPgnBtn").addClass("PgnBtnDsbld");
                } else {
                    $(Element).siblings().prev(".DfltPgnBtn").removeClass("PgnBtnDsbld");
                }
            }

        }

        function SetNxtPgnNavBar(Element, SelectedPage, TotalVisible) {
            debugger
            var From = SelectedPage;
            var To = SelectedPage + (TotalVisible - 1);
            $(Element).parent().children('span:not(.DfltPgnBtn)').addClass("HdnPgItm");
            $(Element).parent().children('span:not(.DfltPgnBtn)').each(function (index, element) {
                if ((index + 1) <= To && (index + 1) >= From) {
                    $(this).removeClass("HdnPgItm");
                }
            });
        }
        function SetPrePgnNavBar(Element, SelectedPage, TotalVisible) {
            debugger
            var From = SelectedPage - (TotalVisible);
            var To = SelectedPage ;
            $(Element).parent().children('span:not(.DfltPgnBtn)').addClass("HdnPgItm");
            $(Element).parent().children('span:not(.DfltPgnBtn)').each(function (index, element) {
                if ((index + 1) <= To && (index + 1) >= From) {
                    $(this).removeClass("HdnPgItm");
                }
            });
        }
    </script>
</body>
</html>

