@{
    Layout = null;
}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>jQuery Pagination</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/CSS/PaginationWithSearch.css" rel="stylesheet" />
    <script src="~/JS/Pagination.min.js"></script>
</head>
<body>
    <div class="">       
         <input type="text" placeholder="search" id="SearchBox" />          
    </div>
    <div id="contents">
        @for (int i = 1; i <= 30; i++)
        {
          <div data-SearchTag="@i">This Is Number @i</div>
        }
    </div>
    <script>
        PaginationWithSearch({
            ContentID: "contents",
            UserNumberOfItemVisiblePerPage: 4,
            NumberOfItemInPaginationNav: 5,
            SearchBoxId:"SearchBox"
        });
    </script>
</body>
</html>

